.contacts-item {
	width: 20px;
	height: 20px;
	fill: #ffffff;

	&:nth-child(2) {
		fill: none;
		stroke: #ffffff;
		stroke-width: 2;
	}
}

.burger {
	width: 46px;
	height: 46px;
	padding: 0;
	outline: 0;
	border: 0;
	position: relative;
	background-color: transparent;
}

.burger-open {
	overflow: hidden;

	&:hover .burger-open-line {
		&:nth-child(odd) {
			transform: translateX(-50%);
		}

		&:nth-child(even) {
			transform: translate(30%, -50%);
		}
	}
}

.burger-open-line {
	width: 100%;
	height: 3px;
	background-color: #ffffff;
	transition: transform 500ms;

	&:nth-child(even) {
		transform: translateY(-50%);
	}
}

.burger-close {
	border-radius: 50%;

	&:hover {
		background-color: var(--colorBlackSelected);
	}
}

.burger-close-line {
	position: absolute;
	width: 80%;
	top: 50%;
	height: 3px;
	background-color: #ffffff;

	&:first-child {
		left: 50%;
		transform: rotate(45deg) translate(-15px, 11px);
	}

	&:last-child {
		right: 50%;
		transform: rotate(-45deg) translate(15px, 11px);
	}
}

.navbar-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	width: 500px;
	height: 100vh;
	overflow: hidden;
}

.navbar-nav-custom {
	transform: translateX(100%);
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: var(--colorBlack);
	color: var(--colorBlue);
	top: 0;
	right: 0;
	padding: 30px 50px;

	transition: transform 500ms ease;
	display: flex;
	flex-direction: column;
}

.navbar-nav-custom-active {
	transform: translate(0);
}

.intro {
	position: relative;
	background: linear-gradient(90deg, var(--colorGreen), var(--colorBlue));
	height: 100vh;

	&:after {
		content: '';
		position: absolute;
		background-image: url('../../img/intro/rectangle_2_165.png');
		background-size: cover;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0.3;
	}
}

.about-img {
	position: relative;

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		border: 7px solid #00d7bb;
		transform: translate(20%, -20%);
	}
}

.btn-about {
	background: linear-gradient(90deg, var(--colorBlue), var(--colorGreen) 80%);
	color: #ffffff;
	font-weight: 700;
	padding: 15px 30px;

	&:hover {
		background: linear-gradient(90deg, var(--colorBlue), var(--colorGreen) 20%);
		box-shadow: 0px 0px 8px 6px rgba(5, 199, 174, 0.5);
	}
}

.btn-icon-about {
	width: 20px;
	height: 20px;
	fill: none;
	stroke: #ffffff;
}

.list-item-about {
	font-size: 18px;

	&:not(:last-child) {
		margin-bottom: 25px;
	}
}

.interests-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;

	&:hover .interests-item-img {
		background: linear-gradient(-45deg, var(--colorBlue), var(--colorGreen));
		fill: #ffffff;
	}

	&:hover .interests-item-text {
		transform: translate(0);
		opacity: 1;
	}
}

.interests-item-img {
	width: 94px;
	height: 94px;
	border-radius: 50%;
	border: 2px solid #00d7bb;
	padding: 25px;
	margin-bottom: 25px;
	fill: var(--colorBlue);
}

.interests-item-text {
	font-size: 25px;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 500ms, transform 500ms;
}

.education {
	background: var(--colorBlackSelected);
}

.dots {
	padding: 97px 0;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 5px;
		background: var(--colorBlue);
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&:after {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		background-color: var(--colorBlue);
		border-radius: 50%;
	}
}



.dot-active {

	.dot-header {
		transform: translate(0);
		opacity: 1;
	}

	.dot-data {
		transform: translate(0);
		opacity: 1;
	}

	.dot-mark {

		&:before {
			opacity: 1;
		}
	}
}

.dot {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 150px;
	}
}

.dot-mark {
	position: absolute;
	width: 35px;
	height: 35px;
	background: var(--colorBlack);
	border-radius: 50%;
	border: solid var(--colorBlue);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -75%);


	&:before {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: var(--colorBlue);
		width: 40%;
		height: 40%;
		border-radius: 50%;
		opacity: 0;
		transition: opacity 1000ms;
	}
}

.dot-header {
	text-transform: uppercase;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 1000ms 200ms, transform 1000ms 200ms;
}

.dot-data {
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 1000ms 500ms, transform 1000ms 500ms;
}

.education-img {
	width: 94px;
	height: 94px;
	border-radius: 50%;
	border: 2px solid #00d7bb;
	padding: 25px;
	margin: 0 auto;
	fill: var(--colorBlue);
}

.dot-title {
	color: var(--colorBlue);
}

// work

.work-img {
	width: 94px;
	height: 94px;
	border-radius: 50%;
	border: 2px solid #00d7bb;
	padding: 25px;
	margin: 0 auto;
	fill: var(--colorBlue);

	svg {
		transform: translateY(-10%);
	}
}

// skills

.skills-items {
	background-color: var(--colorBlackSelected);
	padding: 70px 0;
}

.skills-proggress {
	width: 50%;
	height: 3px;
	background: var(--colorBlack);
	margin: 0 auto;
	position: relative;
}

.skills-proggres-bar {
	position: absolute;
	background: var(--colorBlue);
	top: 0;
	bottom: 0;
	left: 0;

	&:before {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: var(--colorBlue);
		border-radius: 50%;
		top: 0;
		right: 0;
		transform: translate(50%);
	}
}

#skills-proggres-bar-1 {
	width: 60%;
}

// .skills-range {
// 	width: 90%;
// 	margin: 0 auto;
// 	position: relative;
// 	appearance: none;
// 	display: block;
// 	background-color: var(--colorBlack);
// 	outline: none;
// 	overflow: hidden;
// 	border-radius: 50px;
// 
// 	&::-webkit-slider-thumb {
// 		height: 15px;
// 		width: 15px;
// 		background: var(--colorBlue);
// 		appearance: none;
// 		cursor: pointer;
// 		border-radius: 50px;
// 		box-shadow: -605px 0 0 600px var(--colorBlue);
// 		outline: solid var(--colorBlack);
// 	}
// 
// 	&::-moz-range-thumb {
// 		height: 15px;
// 		width: 15px;
// 		background: var(--colorBlue);
// 		appearance: none;
// 		cursor: pointer;
// 		border-radius: 50px;
// 		box-shadow: -605px 0 0 600px var(--colorBlue);
// 		outline: solid var(--colorBlack);
// 	}
// }