.header {
  z-index: 6;
  background: rgba(0, 215, 187, 0.5);
}

.contacts__item-header {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.contacts__item-header:nth-child(2) {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
}

.burger {
  width: 46px;
  height: 46px;
  padding: 0;
  outline: 0;
  border: 0;
  position: relative;
  background-color: transparent;
}

.burger-open {
  overflow: hidden;
}
.burger-open:hover .burger-open-line:nth-child(odd) {
  transform: translateX(-50%);
}
.burger-open:hover .burger-open-line:nth-child(even) {
  transform: translate(30%, -50%);
}

.burger-open-line {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: transform 500ms;
}
.burger-open-line:nth-child(even) {
  transform: translateY(-50%);
}

.burger-close {
  border-radius: 50%;
  margin-bottom: 20px;
}
.burger-close:hover {
  background-color: var(--colorBlue);
}

.burger-close-line {
  position: absolute;
  width: 80%;
  top: 50%;
  height: 3px;
  background-color: #ffffff;
}
.burger-close-line:first-child {
  left: 50%;
  transform: rotate(45deg) translate(-15px, 11px);
}
.burger-close-line:last-child {
  right: 50%;
  transform: rotate(-45deg) translate(15px, 11px);
}

.navbar__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
  height: 100vh;
  overflow: hidden;
}

.navbar-nav-custom {
  transform: translateX(100%);
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: var(--colorBlackSelected);
  color: var(--colorBlue);
  top: 0;
  right: 0;
  padding: 30px 50px;
  transition: transform 500ms ease;
  display: flex;
  flex-direction: column;
}

.navbar-nav-custom-active {
  transform: translate(0);
}

.nav-item {
  transition: background 500ms;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.125rem;
}
.nav-item:hover {
  background: var(--colorBlue);
  color: var(--colorBlackSelected);
}

.intro {
  position: relative;
  background: linear-gradient(90deg, var(--colorGreen), var(--colorBlue));
  height: 100vh;
}
.intro:after {
  content: "";
  position: absolute;
  background-image: url("../../img/intro/rectangle_2_165.png");
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
}

.about__img {
  position: relative;
}
.about__img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 7px solid #00d7bb;
  transform: translate(20%, -20%);
}

.btn-about {
  background: linear-gradient(90deg, var(--colorBlue), var(--colorGreen) 80%);
  color: #ffffff;
  font-weight: 700;
  padding: 15px 30px;
}
.btn-about:hover {
  background: linear-gradient(90deg, var(--colorBlue), var(--colorGreen) 20%);
  box-shadow: 0px 0px 8px 6px rgba(5, 199, 174, 0.5);
}

.btn__icon-about {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #ffffff;
}

.list__item-about {
  font-size: 18px;
}
.list__item-about:not(:last-child) {
  margin-bottom: 25px;
}

.interests__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.interests__item:hover .interests__img {
  background: linear-gradient(-45deg, var(--colorBlue), var(--colorGreen));
  fill: #ffffff;
}
.interests__item:hover .interests__text {
  transform: translate(0);
  opacity: 1;
}

.interests__img {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 2px solid #00d7bb;
  padding: 25px;
  margin-bottom: 25px;
  fill: var(--colorBlue);
}

.interests__text {
  font-size: 25px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.education {
  background: var(--colorBlackSelected);
}

.dots {
  padding: 97px 0;
  position: relative;
}
.dots:before {
  content: "";
  position: absolute;
  width: 5px;
  background: var(--colorBlue);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.dots:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: var(--colorBlue);
  border-radius: 50%;
}

.dot-active .dot__header {
  transform: translate(0);
  opacity: 1;
}
.dot-active .dot__data {
  transform: translate(0);
  opacity: 1;
}
.dot-active .dot__mark:before {
  opacity: 1;
}

.dot {
  position: relative;
}
.dot:not(:last-child) {
  margin-bottom: 150px;
}

.dot__mark {
  position: absolute;
  width: 35px;
  height: 35px;
  background: var(--colorBlack);
  border-radius: 50%;
  border: solid var(--colorBlue);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}
.dot__mark:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--colorBlue);
  width: 40%;
  height: 40%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 1000ms;
}

.dot__header {
  text-transform: uppercase;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 1000ms 200ms, transform 1000ms 200ms;
}

.dot__data {
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 1000ms 500ms, transform 1000ms 500ms;
}

.education__img {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 2px solid #00d7bb;
  padding: 25px;
  margin: 0 auto;
  fill: var(--colorBlue);
}

.dot__title {
  color: var(--colorBlue);
}

.work__img {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 2px solid #00d7bb;
  padding: 25px;
  margin: 0 auto;
  fill: var(--colorBlue);
}
.work__img svg {
  transform: translateY(-10%);
}

.skills__items {
  background-color: var(--colorBlackSelected);
  padding: 70px 0;
}

.skills__item {
  padding: 0 20%;
  margin-bottom: 61px;
}

.skills__proggress {
  height: 3px;
  background: var(--colorBlackDark);
  margin: 0 auto;
  position: relative;
  box-shadow: inset 0px 1px 0px 0px #000000;
}

.skills__proggresbar {
  position: absolute;
  background: var(--colorBlue);
  top: 0;
  bottom: 0;
  left: 0;
}
.skills__proggresbar:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--colorBlue);
  border-radius: 50%;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.6);
}

#skills__proggresbar-HTML {
  width: 95%;
}

#skills__proggresbar-illustrator {
  width: 70%;
}

#skills__proggresbar-js {
  width: 75%;
}

#skills__proggresbar-photoshop {
  width: 95%;
}

#skills__proggresbar-PHP {
  width: 90%;
}

#skills__proggresbar-sv {
  width: 90%;
}

.explanation__item {
  background-color: var(--colorBlackSelected);
  padding: 39px;
  width: 349px;
  height: 349px;
  margin: 0 auto;
  transition: transform 500ms, background 500ms;
}
.explanation__item:hover {
  background: var(--colorBlue);
  transform: scale(1.3);
}
.explanation__item:hover .explanation__number {
  opacity: 0.7;
}
.explanation__item:hover .explanation__title {
  color: var(--colorBlack);
}

.explanation__number {
  font-weight: 700;
  color: var(--colorBlackDark);
  transition: opacity 300ms;
}

.explanation__title {
  color: var(--colorBlue);
  font-weight: 700;
  font-size: 24px;
  transition: color 300ms;
}

.portfolio__items {
  background: var(--colorBlue);
  padding: 100px 0;
}

.portfolio__item {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  border: 0px solid var(--colorGreenDark);
  transition: border 500ms;
}
.portfolio__item:hover {
  border: 12px solid var(--colorGreenDark);
}
.portfolio__item:hover .portfolio__title {
  opacity: 1;
  transform: translate(0);
}
.portfolio__item:hover .portfolio__category {
  opacity: 1;
  transform: translate(0);
}

.portfolio__data {
  position: absolute;
  bottom: 0;
  padding: 0 15px 40px;
  left: 0;
  right: 0;
}

.portfolio__title {
  font-size: 21px;
  color: var(--colorBlackDark);
  margin-bottom: 0;
  font-weight: 700;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 500ms, transform 500ms;
}

.portfolio__category {
  color: var(--colorBlue);
  margin-bottom: 0;
  font-weight: 600;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 500ms, transform 500ms;
}

.testimonials__items {
  position: relative;
  display: flex;
  justify-content: center;
}

.testimonials__item:hover .testimonials__img {
  margin: 0 20px;
  filter: grayscale(0);
  transform: scale(1.6);
}
.testimonials__item:hover .testimonials__data {
  transform: translate(-50%, 20px);
  pointer-events: all;
  opacity: 1;
}

.testimonials__img {
  width: 65px;
  height: 65px;
  margin: 0 10px;
  filter: grayscale(1);
  transition: filter 500ms, transform 500ms, margin 500ms;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.testimonials__data {
  position: absolute;
  text-align: center;
  width: 40vw;
  left: 50%;
  top: 0;
  margin-top: 60px;
  transform: translateX(-30%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}
.testimonials__data:before {
  content: '"';
  position: absolute;
  font-size: 90px;
  color: var(--colorGrey);
  left: -30px;
  top: 40px;
}
.testimonials__data:after {
  content: '"';
  position: absolute;
  font-size: 90px;
  color: var(--colorGrey);
  right: -30px;
  transform: translateY(20%) rotate(180deg);
  bottom: 0;
}

.testimonials__arrow {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.testimonials__arrow svg {
  transform: rotate(90deg);
  fill: none;
  stroke: var(--colorBlue);
  stroke-width: 3px;
}

.testimonials__title {
  color: var(--colorBlue);
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 33px;
}

.hire {
  background: var(--colorBlue);
  padding: 75px 0;
}

.hire__telegram {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hire__svg {
  width: 70px;
  height: 70px;
  fill: var(--colorBlack);
}

.hire__data {
  color: var(--colorBlack);
  text-align: center;
}

.hire__title {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

.text-hire {
  padding: 0 20%;
  margin: 0;
}

.hire__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-hire {
  background: var(--colorBlack);
  color: var(--colorBlue);
  padding: 10px 50px;
  font-size: 18px;
  font-weight: 600;
}
.btn-hire:hover {
  background: var(--colorBlackSelected);
  color: var(--colorBlue);
}

.blog__item {
  background: var(--colorBlackSelected);
  width: 350px;
  margin: 0 auto;
}

.blog--hidden {
  max-height: 0px;
  overflow: hidden;
}

.blog__img {
  height: 250px;
}

.blog__data {
  padding: 30px;
}

.blog__title {
  color: var(--colorBlue);
  font-size: 1.125rem;
  font-weight: 700;
}

.blog__meta {
  font-size: 0.75rem;
  font-weight: 600;
}

.blog__text {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--colorWhite);
  line-height: 1.2rem;
  letter-spacing: 0.04rem;
}

.btn-blog {
  position: relative;
  background: linear-gradient(90deg, var(--colorBlue) 40%, var(--colorGreen));
  color: inherit;
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 0.025rem;
  border-radius: 0;
  display: flex;
}
.btn-blog:hover {
  background: linear-gradient(90deg, var(--colorBlue), var(--colorGreen));
}
.btn-blog:hover .btn__arrow {
  animation-name: pendulum;
  animation-duration: 1000ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.btn__arrow {
  position: relative;
  width: 10px;
  margin-left: 10px;
}
.btn__arrow:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background: #ffffff;
  right: 0;
  transform: translateY(-5px) rotate(45deg);
  top: 50%;
}
.btn__arrow::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background: #ffffff;
  right: 0;
  transform: translateY(9px) rotate(-45deg);
}

@keyframes pendulum {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
.btn-more {
  background: linear-gradient(90deg, var(--colorBlue) 40%, var(--colorGreen));
  color: inherit;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  border-radius: 0;
  font-weight: 600;
  padding: 20px 50px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 160px;
}

.form__item-contact {
  position: relative;
}

.form__hint-contact {
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--colorBlue);
  transform: translateY(-5px);
  font-size: 0.75rem;
}

.form__input-contact {
  background: transparent;
  border: 0;
  border-bottom: 2px solid var(--colorBlackSelected);
  width: 100%;
  padding: 20px 0;
  color: var(--colorBlue);
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.04rem;
}
.form__input-contact::-moz-placeholder {
  color: var(--colorGrey);
}
.form__input-contact::placeholder {
  color: var(--colorGrey);
}
.form__input-contact:focus {
  outline: none;
  border-bottom: 2px solid var(--colorBlue);
}
.form__input-contact:focus + .form__hint-contact {
  opacity: 1;
}

.btn-contact {
  border-radius: 0px;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(90deg, var(--colorGreen), var(--colorBlue));
     border-image: linear-gradient(90deg, var(--colorGreen), var(--colorBlue));
  border-image-slice: 1;
  padding: 20px 50px;
  color: var(--colorBlue);
  font-size: 0.85;
}
.btn-contact:hover {
  background: linear-gradient(90deg, var(--colorGreen), var(--colorBlue));
}

.contacts__item-contact {
  width: 50px;
  height: 50px;
  background: var(--colorBlackSelected);
  fill: var(--colorBlue);
  border-radius: 50%;
  padding: 10px;
  margin: 0 15px 15px;
}
.contacts__item-contact:nth-child(2) {
  fill: none;
  stroke: var(--colorBlue);
  stroke-width: 2;
}
.contacts__item-contact:hover {
  background: var(--colorBlue);
  fill: var(--colorBlackSelected);
}
.contacts__item-contact:hover:nth-child(2) {
  fill: none;
  stroke: var(--colorBlackSelected);
  stroke-width: 2;
}

.footer {
  color: var(--colorBlue);
  padding: 0 0 40px;
}

.footer__line {
  color: var(--colorGrey);
  margin-bottom: 40px;
}

@media (max-width: 870px) {
  .testimonials__items {
    flex-direction: column;
  }
  .testimonials__item {
    display: flex;
    flex-direction: column;
  }
  .testimonials__item:not(:last-child) {
    margin-bottom: 50px;
  }
  .testimonials__img {
    margin: 0 auto 30px;
    width: 100px;
    height: 100px;
  }
  .testimonials__data {
    position: static;
    opacity: 1;
    transform: translate(0);
    margin-top: 0;
    width: auto;
    pointer-events: all;
  }
  .testimonials__data:before {
    top: 0;
  }
  .testimonials__arrow {
    display: none;
  }
}
@media (max-width: 600px) {
  .about__img::before {
    display: none;
  }
  .testimonials__data:before {
    display: none;
  }
  .testimonials__data::after {
    display: none;
  }
}
@media (max-width: 500px) {
  .navbar__wrapper {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */